ol > a{
    color: white;

}

.categories a:visited{
  color: black;
}

    /*------Button ajouter au panier section meilleurs-ventes------ */

.container-category{
  margin: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
  /*background-color: lightblue; */
  color: chocolate;
}

.main-category{
  margin: 1em;
  background-color: yellow;
  grid-column: 1/ span 2;
}

.simple-1-category{
  margin: 1em;
}

.simple-2-category{
  margin: 1em;
  grid-column: 1/span 1;
}

.other-category{
  margin: 1em;
  grid-column: 2 /span 3;
  justify-content: center;
  background-color: darkseagreen;
}

@media (max-width: 426px){
.button-meilleurs-ventes span{
  font-size: 2vw;
}
}

.modern-sans-serif {
  font-family: Montserrat, Helvetica, sans-serif;
}

/* Style de base pour les images */
.image {
  /* width: 600px; /* Largeur de l'image */
  /* height: 500px; /* Hauteur de l'image */
  max-width: 100%; /* Largeur maximale de l'image par rapport à son conteneur */
  height: auto; /* Hauteur automatique pour maintenir le rapport hauteur/largeur */
  transition: transform 0.3s; /* Transition pour l'effet de survol */
  /* padding: 30px;
}

/* Style de survol pour les images */
.image:hover {
  transform: scale(1.1); /* Agrandir l'image de 10% lorsqu'on survole */
}

