ol > a{
    color: white;

}

.categories a:visited{
  color: black;
}

    /*------Button ajouter au panier section meilleurs-ventes------ */

.container-category{
  margin: 1em;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
  background-color: blue;
  color: chocolate;
}

.main-category{
  background-color: yellow;
  grid-column: 1/ span 2;
}

.other-category{
  grid-column: 2/span 2;
  justify-content: center;
  background-color: darkseagreen;
}

@media (max-width: 426px){
.button-meilleurs-ventes span{
  font-size: 2vw;
}
}


