.container {
    display : flex;
}

.boite-image {
    width : 400px;
}

.infos_generales {
    width  : 400px;
}

.description-produit {
    display: flex;
    flex-direction: column;
    margin: 1em;
}