.container-page-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em;
}

.header-recherche{
    grid-column: 1 /span 3;
    grid-row: 1;
    height: 125px;
}

.sidebar-recherche{
    grid-column: 1;
    grid-row: 2/span 3;
}

.main-body-recherche{
    grid-column: 2/span 3;
    grid-row: 2/span 3;
}

.product-detail-container{
    display: flex;
    width: 80vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;

}

.product__image{
    width: 200px;
    height:200px;
}

.product__image-box{
    width: max-content;
    max-height: 200px;
}

.product_main_container_link {
    text-decoration: none;
    color: black;
}


